---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: {{ jo_dmapi_namespace }}
  name: jobs-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: jobs-operator
  template:
    metadata:
      labels:
        application: jobs-operator
    spec:
      serviceAccountName: jobs-account

      # Prefer 'application' nodes before 'core'
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists
            - matchExpressions:
              - key: {{ jo_fallback_node_selector_key }}
                operator: Exists

      containers:
      - name: jobs-operator
        image: {{ jo_image }}:{{ jo_image_tag }}
{% if jo_image_tag in ['stable', 'latest'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
        - name: JO_POD_PRE_DELETE_DELAY_S
          value: '{{ jo_pre_delete_delay_s }}'
        - name: JO_NAMESPACE
          value: '{{ jo_dmapi_namespace }}'
        - name: JO_POD_NODE_SELECTOR_KEY
          value: '{{ jo_pod_node_selector_key }}'
        - name: JO_POD_NODE_SELECTOR_VALUE
          value: '{{ jo_pod_node_selector_value }}'
        resources:
          requests:
            cpu: {{ jo_cpu_request }}
            memory: {{ jo_mem_request }}
{% if jo_cpu_limit or jo_mem_limit %}
          limits:
{% if jo_cpu_limit %}
            cpu: {{ jo_cpu_limit }}
{% endif %}
{% if jo_mem_limit %}
            memory: {{ jo_mem_limit }}
{% endif %}
{% endif %}
