---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: {{ jo_dmapi_namespace }}
  name: jobs-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: jobs-operator
  template:
    metadata:
      labels:
        application: jobs-operator
    spec:
      serviceAccountName: jobs-account
      containers:
      - name: jobs-operator
        image: {{ jo_image }}:{{ jo_image_tag }}
{% if jo_image_tag in ['stable', 'latest'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
        - name: JO_POD_PRE_DELETE_DELAY_S
          value: '{{ jo_pre_delete_delay_s }}'
        - name: JO_NAMESPACE
          value: '{{ jo_dmapi_namespace }}'
